body  {font-family:Arial; width: 860px; margin: 0 auto; font-size: 11pt}
#menuitem {color: white; background:#888888; text-align:center}
#menuitem>a {color: white; text-decoration: none}
h1 {font-size: 18pt}
h2 {font-size: 12pt}
h3 {font-size: 11pt}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
	font-size: 11pt;
}
table.menu  td {
    border: 2px solid white;
	padding: 8px
}

table.papers {
	border: none;
	font-size: 90%;
}

table.papers tr,td {
	border: none;
}

td {
	padding:5px;
}